<p><%= @stock.company_name %></p>  
<p>avg_total_volume = <%= @stock.avg_total_volume %></p>
<p>latest_price = <%= @stock.latest_price %></p>
<p>change = <%= @stock.change %></p>
<p>previous_close = <%= @stock.previous_close %></p>

<%= form_with url: create_stocks_path do |f| %>
    <p>
        <%= f.hidden_field :symbol , value: @stock.symbol%>
    </p>
    <p> 
        <%= f.hidden_field :company , value: @stock.company_name%>
    </p>
    <p> 
        <%= f.hidden_field :current_Price , value: @stock.latest_price%>
    </p>
    <p> 
        <%= f.hidden_field :change , value: @stock.change%>
    </p>
    <p> 
        <%= f.hidden_field :previous_close , value: @stock.previous_close%>
    </p>
    <p> 
        <%= f.hidden_field :buy_date , value: Time.now%>
    </p>
    <p> 
        <%= f.text_field :user_id , value: current_user.id%>
    </p>
    <p> 
        <%= f.submit 'buy', class: "btn btn-primary my-2"%>
    </p>

<% end%>