<% content_for :title, "Log In / Tradely" %>
<!-- Log In Page -->
<div id="moderator-login" class="page">
    <div class="page-background"></div>
    <div class="page-foreground">
        <header id="brand">
          <a href="/" class="no-underline">
            <p class="logo bloop">Tradely</p>
          </a>
        </header>
        <main id="form">
            <p id="emoji">💵</p>
            <p id="header">Buy <%= @stock.symbol %> Stocks</p>
            <p id="sub-header">Please enter the number of units you want to buy.</p>
            <%= form_with(model: @transaction, url: transactions_path, method: :post) do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :stock_id, value: @stock.id %>
              <%= f.hidden_field :broker_id, value: @broker.id %>
              <%= f.hidden_field :price, value: @stock.price %>

              <div class="field">
                <%= f.number_field :units, placeholder: "Units", required: true %>
              </div>

              <p class="note">Changed your mind? <%= link_to "Cancel Transaction", buyer_dashboard_path, class: "in-text" %></p>

              <div class="actions absolute">
                <%= f.submit "Buy", class: "cta" %>
              </div>
            <% end %>
        </main>
    </div>
</div>

