<% content_for :title, "Brokers / Tradely" %>
<% content_for :layer_foreground_class, "admin-foreground" %>
<% content_for :layer_background_class, "admin-background" %>
<% content_for :notice_float_position, "bottom" %>
<!-- Index Page -->
<div id="index" class="admin-dashboard">
    <%= render "admin/_shared/sidebar" %>
    <div id="body">
        <header>
            <div id="periods">
                <%= link_to "Day", brokers_path(period: "today"), class: "in-text no-underline #{ 'active' if params[:period] == "today" }" %>▪
                <%= link_to "Week", brokers_path(period: "this_week"), class: "in-text no-underline #{ 'active' if params[:period] == "this_week" }" %>▪
                <%= link_to "Month", brokers_path(period: "this_month"), class: "in-text no-underline #{ 'active' if params[:period] == "this_month" }" %>▪
                <%= link_to "All Time", brokers_path(period: "all_time"), class: "in-text no-underline #{ 'active' if params[:period] == "all_time" || params[:period].blank? }" %>
            </div>
            <h1 id="header"><span class="icon">💼</span> Brokers</h1>
        </header>
        <main>
            <div id="counts">
                <div class="count card">
                    <p class="icon">⛅</p>
                    <p class="label">Today</p>
                    <p class="value"><%= @today.count %></p>
                </div>
                <div class="count card">
                    <p class="icon">🎈</p>
                    <p class="label">This Week</p>
                    <p class="value"><%= @this_week.count %></p>
                </div>
                <div class="count card">
                    <p class="icon">📅</p>
                    <p class="label">This Month</p>
                    <p class="value"><%= @this_month.count %></p>
                </div>
            </div>
            <div id="table" class="card brokers">
                <div id="headers" class="row">
                    <p class="column">ID</p>
                    <p class="column">Name</p>
                    <p class="column">Email Address</p>
                    <p class="column">Date Joined</p>
                </div>
                <% @brokers.each do |broker| %>
                    <div id="broker_<%= broker.id %>" class="row">
                        <p class="column"><%= broker.id %></p>
                        <p class="column"><%= "#{ broker.lastname }, #{ broker.firstname }" %></p>
                        <p class="column"><%= broker.email %></p>
                        <p class="column"><%= broker.created_at.strftime("%b %e, %Y — %l:%M %p") %></p>
                    </div>
                <% end %>            
            </div>
        </main>
    </div>
</div>