<% if current_user && current_user.id%>
<h1>Portfolio</h1>
    <% @stock.each do |d| %>
        <hr>
        <p>company = <%= d.company_name %></p>  
        <p>symbol = <%= d.symbol %></p>
        <p>latest_price = <%= d.current_price %></p>
        <p>change = <%= d.change %></p>
        <p>previous_close = <%= d.previous_close %></p>
        <%if d.on_sale == "Not_for_sale"%>
            <%= form_with url: sell_it_path do |f| %>
                <p> 
                    <%= f.hidden_field :on_sale , value: "for_sale"%>
                </p>
                <p> 
                    <%= f.submit 'sell', class: "btn btn-primary my-2"%>
                </p>

            <% end%>
        <%else%>
            <p><b>status = <%= d.on_sale %></b></p>
        <%end%>
      
    <%end%>
<%end%>