<% if current_user && current_user.id%>
<h1>Portfolio</h1>
    <% @stock.each do |d| %>
        <hr>
        <p>company = <%= d.company_name %></p>  
        <p>symbol = <%= d.symbol %></p>
        <p>latest_price = <%= d.current_price %></p>
        <p>change = <%= d.change %></p>
        <p>previous_close = <%= d.previous_close %></p>
        <p>status = <%= d.on_sale %></p>
        <p><%= link_to 'view_to_sell', edit_brokers_path(:id => d.symbol) %></p>
    <%end%>
<%end%>